<h1>Fill in any word  to create your custom title!</h1>
  <form action='/title_case'>
    <div class="form-group">
      <label for="sender">any word</label>
      <input id="sender" name="sender" class="form-control" type="text">
    </div>

    <button type="submit" class="btn btn-success">Go!</button>
  </form>
